.btn-outline-primary {
    color: #cc3300;
    border-color: #cc3300; }
.btn-outline-primary:hover {
    color: #fff;
    background-color: #cc3300;
    border-color: #cc3300; }
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(204, 51, 0, 0.5); }
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #cc3300;
    border-color: #cc3300; }
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(204, 51, 0, 0.5); }
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: #cc3300;
    background-color: transparent; }


.alert-primary {
    color: #7a1f00;
    background-color: #f5d6cc;
    border-color: #f0c2b3; }
.alert-primary .alert-link {
    color: #621900; }

.bg-primary {
    background-color: #cc3300 !important; }

.text-primary {
    color: #cc3300 !important; }

.border-primary {
    border-color: #cc3300 !important; }

.link-primary {
    color: #cc3300; }
.link-primary:hover, .link-primary:focus {
    color: #a32900; }

.list-group-item-primary {
    color: #7a1f00;
    background-color: #f5d6cc; }
.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #7a1f00;
    background-color: #ddc1b8; }
.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #7a1f00;
    border-color: #7a1f00; }

.btn-primary {
    color: #ffffff;
    background-color: #cc3300;
    border-color: #cc3300; }
.btn-primary:hover {
    color: #ffffff;
    background-color: #ad2b00;
    border-color: #a32900; }
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #ad2b00;
    border-color: #a32900;
    box-shadow: 0 0 0 0.25rem rgba(212, 82, 38, 0.5); }
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #a32900;
    border-color: #992600; }
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(212, 82, 38, 0.5); }
.btn-primary:disabled, .btn-primary.disabled {
    color: #ffffff;
    background-color: #cc3300;
    border-color: #cc3300; }


.alert-secondary {
    color: #995c1f;
    background-color: #ffebd6;
    border-color: #ffe0c2; }
.alert-secondary .alert-link {
    color: #7a4a19; }
